# Styleguide
styleguide
dist/index.html

# Editor files
.idea

# Dependency directories
-git
node_modules


# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
.DS_Store

# node-waf configuration
.lock-wscript
