@import 'helpers';

@each $palette, $tones in $palettes {
	.color-swatch--#{$palette} {
		background-color:umwGetColor($palette);
		&:after {
			content:"#{$palette}";
		}
		&:hover {
			background-color: umwGetColor($palette, dark);
		}
	}
}
