#{$button-selector} {
	display: inline-block;
	vertical-align: middle;
	padding: $button-padding-vertical $button-padding-horizontal;
	border: .1em solid $button-border-color;
	border-radius: $button-border-radius;
	background-color: $button-bg;
	color: $button-color;
	transition: $button-transition;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:hover,
	&:focus {
		outline: 0;
		text-decoration: none;
		background-color: $button-hover-bg;
		color: $button-hover-color;
	}

	&:active {
		background-color: $button-active-bg;
		color: $button-active-color;
	}

	&.disabled,
	&[disabled] {
		opacity: $button-disabled-opacity;
		cursor: default;
		pointer-events: none;
	}

	[class*="icon"] {
		vertical-align: sub;
		font-size:1em;
	}

	/**
	Sizes
	 */
	&--xs {
		font-size:modular-scale(-1.25);
	}
	&--sm {
		font-size:modular-scale(-1);
	}
	&--md {
		font-size:modular-scale(1);
	}
	&--lg {
		font-size:modular-scale(1.25);
	}

	/**
	Style
	*/
	&--outline {
		color:$button-bg;
		border-color:$button-bg;
		background-color: $button-border-color;

		&:hover,
		&:focus {
			background-color: $button-hover-bg;
			border-color: $button-hover-bg;
			color: $button-hover-color;
		}

		&:active {
			background-color: $button-active-bg;
			border-color:$button-active-bg;
			color: $button-active-color;
		}
	}

	/**
	colors
	*/
	@each $name, $color in $umwelt-colors {
		&--#{$name} {
			background-color: $color;

			&:hover,
			&:focus,
			&:active {
				background-color:darken($color, 10%);
			}

			&.btn--outline {
				background-color:transparent;
				border-color:$color;
				color:$color;

				&:hover,
				&:focus,
				&:active {
					background-color:$color;
					color:$button-hover-color;
				}
			}
		}
	}
}
