body {
	margin: 0;
	color:#000;
}

html, body {
	height: 100%;
	overflow-y: hidden;
}

*:empty { display: none; }

.psg-wrapper {
	display: flex;
	height: 100%;
}

.psg-menu {
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	width: 240px;
	height: 100%;
	border-right: 1px solid #efefef;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

.psg-menu,
.psg-main {
	 padding: 1rem 2rem;
}

.psg-componentTitle {
	font-size: 2rem;
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.psg-projectName {
	font-size:2rem;
	margin-top: 0;
	margin-bottom: 2rem;
}

.psg-componentList {
	padding:0;
	margin:0;
}

.psg-componentList-item {
	display: block;
	padding: 0;
	color:#0366d6;
	font-weight:500;
	text-decoration:none;
}

.psg-componentList-item:hover {
	color:#0305d6;
}

.psg-main {
	flex: 1 1 0%;
	height: 100%;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

.psg-container {
	margin: 0 auto;
}

.psg-component > h2 {
	margin-top:0;
	position:relative;
}
.psg-component > h2:before {
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:-2rem;
	width:.5em;
	background-color:#efefef;
}
.psg-component + .psg-component {
	margin-top:4rem;
}

.psg-contents-html code {
	font-family: FiraCode-Regular, 'Source Code Pro', Consolas, monospace;
}
.psg-contents-html > pre,
.psg-contents-rule > pre {
	margin: 2rem -2rem;
	overflow: auto;
	padding:0 2rem;
	line-height:2rem;
	position: relative;
	background-color: #f6f6f6;
	background: -webkit-linear-gradient(#f1f1f1, #f1f1f1 50%, #f9f9f9 50%, #f9f9f9);
	background: -o-linear-gradient(#f1f1f1, #f1f1f1 50%, #f9f9f9 50%, #f9f9f9);
	background: linear-gradient(#f1f1f1, #f1f1f1 50%, #f9f9f9 50%, #f9f9f9);
	background-size: 100% 4rem;
}

.psg-colorPalette {
	display: flex;
	flex-flow: row wrap;
	margin:0 -1rem;
}

.psg-colorBox {
	width: calc(25% - 2rem);
	box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
	margin: 1rem;
}

.psg-colorBox-sample {
	height: 160px;
}

.psg-colorBox-color, .psg-colorBox-name {
	font-size: .875rem;
	padding-left: .75rem;
	padding-right: .75rem;
}

.psg-colorBox-color code,
.psg-colorBox-name code {
	padding:1px 4px;
	background-color: #f6f6f6;
	font-family: FiraCode-Regular, monospace;
}

.psg-colorBox-color {
	padding-top: 1rem;
	margin-bottom: .25em;
}

.psg-colorBox-name {
	padding-bottom: 1rem;
}

.psg-footer {
	font-size: .875rem;
	padding-bottom: 2.5rem;
}
