// Global
$font-family-base: system-ui, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-family: 'futura-pt-bold', 'FuturaPT-Bold', 'Arial Black', 'Arial Bold', Gadget, sans-serif !default;
$font-family-mono: 'Source Code Pro', Consolas, monospace !default;

// Link
$link-color: #0283f1 !default;
$link-hover-color: $link-color !default;

// Button
$button-bg: #111 !default;
$button-color: #fff !default;
$button-hover-color: #fff !default;
