$mq-breakpoints: (
	xs: 480px,
	sm: 640px,
	md: 820px,
	lg: 960px
);

@import 'framework';

html, body {
	margin:0;
	padding:0;
}

body {
	background-color:#f0f3f4;
}
.section {
	padding:$grid-gutter;
	background-color:#fff;
	position: relative;
	margin-left:$grid-gutter;
	margin-right:$grid-gutter;
}
footer.section {
	background-color:transparent;
	margin-top:$grid-gutter;
	margin-bottom:$grid-gutter;
	color:#fff;

	p {
		margin-bottom:0;
	}
	a {
		color:inherit;
	}
}
section + section {
	margin-top:$grid-gutter;
}

header + section {
	margin-top:	-($grid-gutter * 2);
}

.section__title {
	padding-top: 0.5em;
}

.section--intro {
	margin:0;
	padding-left:$grid-gutter;
	padding-right:$grid-gutter;
	padding-top: 30px;
	padding-bottom: 30px;
	color:#fff;
	background-color:map-get($umwelt-colors, base);

	@include mq(md) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.intro__title {
	font-weight: 500;
	font-size: 2.5em;

	@include mq(sm) {
		font-size: 3.8em;
	}
}

.intro__text {
	margin-top: 0.8em;

	.btn-group {
		margin-top: 2.5em;
	}

	@include mq(sm) {
		font-size: 1.2em;
	}
}

.col__item {
	margin-bottom: $grid-gutter;
	padding: 1em;
	background: #efefef;
}

hr {
	margin:($grid-gutter/2) 0;
}
