// colors
$_color-base: #282828 !default;
$_color-base-beige: #c5c2bb !default;
$_color-base-pink: #ff0056 !default;
$_color-base-blue: #64a0c3 !default;

// typography
$font-family: "futura-pt" !default;
$heading-font-family: $font-family !default;
$monospace-font-family: 'Source Code Pro', Consolas, monospace !default;


