@charset 'UTF-8';
/* Settings: Global variables, site-wide settings, config switches, etc. */
@import 'app';

html {
	color: umwGetColor(base);
}
main {
	max-width:72em;
	margin:0 auto;

	> header {
		border-bottom:1px solid umwGetColor(beige, light);
		padding:2em 0;

		h1 {
			margin:0;
		}
	}

	section {
		padding:2em 0;
		header {
			h2 {
				color: umwGetColor(beige, dark);
			}
		}

		aside + * {
			margin-top:2em;
		}

		&  + section {
			border-top:1px solid umwGetColor(beige, light);
		}
	}
}

// colors

*[class^='color-swatch--'] {
	user-select:none;
	width:calc(25% - 2rem);
	display:inline-block;
	position: relative;
	margin-right:2rem;
	transition:200ms ease;

	&:last-of-type {
		margin-right:0;
	}
	&:before {
		display: block;
		  content: "";
		padding-bottom:100%;
	}
	&:after {
		text-transform: capitalize;
		font-weight:700;
		position: absolute;
		top:1em;
		background-color:white;
		padding:.5em;
		right:-1em;
		font-size:100%;
	}
}
@each $palette, $tones in $palettes {
	.color-swatch--#{$palette} {
		background-color:umwGetColor($palette);
		&:after {
			content:"#{$palette}";
		}
		&:hover {
			background-color: umwGetColor($palette, dark);
		}
	}
}
